@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primay: #0f57fbff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl mb-5;
  }
  h2 {
    @apply text-3xl md:text-4xl my-3 md:my-5;
  }
  h2 {
    @apply text-2xl md:text-3xl my-2 md:my-4;
  }
  h1,
  h2,
  h3 {
    @apply font-bold;
  }
  b,
  p {
    @apply text-base md:text-lg;
  }
  a {
    @apply text-base md:text-lg;
  }
  .page a {
    @apply text-blue-600 hover:underline hover:text-blue-500;
  }
  header {
    @apply text-lg md:text-xl;
  }
  .page ul {
    @apply list-square;
  }
  .page li {
    @apply my-2 text-base md:text-lg;
  }
}

.page-head {
  background-color: var(--primay);
}
.page-head span {
  font-size: 24px;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.app_container {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4%;
  gap: 10px;
}

/* HOME PAGE STYLES */
.hero {
  width: 100%;
  height: 50vh;
  background-image: url("/images/hero_bg.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 15px;
}

.header_img {
  /* { objectFit: "cover", maxHeight: "45%", marginTop: "64px" } */
  margin-top: 64px;
  max-height: 40%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.banner-container {
  position: relative;
  margin-top: 64px;
  height: 40%;
  width: 100%;
  max-height: 40%;
}

.banner-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  left: 0;
}

.banner-text {
  color: white;
  text-align: center;
  font-size: xx-large;
}

.banner-container-left {
  width: 50%;
}

/* TYPEWRITING EFFECT */
.hero-two {
  /* background-color: #2f3542; */
  /* color: #fff; */
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animated-text {
  width: 100%;
  font-weight: 600;
}

.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "Reliable";
  /* color: #f6ff00; */
  animation: words 9s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #000;
  right: -8px;
  animation: cursor 0.8s infinite, typing 9s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  33.33% {
    content: "Reliable___";
    color: rgb(79, 77, 1);
  }
  33.34%,
  66.66% {
    content: "Affordable___";
    color: rgb(0, 78, 174);
  }
  66.67%,
  100% {
    content: "The Best Choice✅_";
    color: green;
  }
}
@keyframes typing {
  5%,
  33.33%,
  66.66% {
    width: calc(100% + 10px);
  }
  17%,
  50.33%,
  83.66% {
    width: 0;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    box-shadow: 10px 10px 50px 10px blue;
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
#callBtn {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 480px) {
  .app_container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .page-head span {
    font-size: 28px;
  }
  .page-head {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  .app_container {
    width: 85%;
  }
  .flex-container {
    width: 80%;
    flex-direction: row;
  }
}

input[type="checkbox"] {
  display: none;
}
.wrap-collabsible {
  margin: 1.2rem 0;
}
.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #ddd;
  background: #0069ff;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
  color: #fff;
}
.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
  background: rgba(0, 105, 255, 0.2);
  border-bottom: 1px solid rgba(0, 105, 255, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}
.collapsible-content p {
  margin-bottom: 0;
}
