@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
a {
  text-decoration: underline;
}
a:hover {
  color: red;
  cursor: pointer;
}
.page {
  width: 100%;
  height: 100%;
  margin: 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  margin: 3% 0;
  font-size: 24px;
}
.app_container {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .app_container {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .app_container {
    width: 75%;
  }
}

/* HOME PAGE STYLES */
.header_img {
  /* { objectFit: "cover", maxHeight: "45%", marginTop: "64px" } */
  margin-top: 64px;
  max-height: 40%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.banner-container {
  position: relative;
  margin-top: 64px;
  height: 40%;
  width: 100%;
  max-height: 40%;
}
.banner-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  left: 0;
}
.banner-text {
  color: white;
  text-align: center;
  font-size: xx-large;
}
.banner-container-left {
  width: 50%;
}
