@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  transition: all 0.3s ease-in-out;
  position: relative;
}
body {
  color: rgb(var(--foreground-rgb));
}
nav a {
  text-decoration: underline;
}
nav a:hover {
  color: red;
  cursor: pointer;
}
.page {
  width: 100%;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar_page {
  margin: 10px 0 10px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 30px;
}
h2 {
  margin: 3% 0;
  font-size: 24px;
}
.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4%;
}
.card {
  width: 220px;
  height: fit-content;
  margin: 2%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card_label {
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 2% 0;
  background-color: green;
  color: white;
  z-index: 10;
}
.card_title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: 650;
  background-color: rgb(17, 23, 205);
  z-index: 10;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.card_description {
  margin: 2% 1%;
}

@media screen and (min-width: 480px) {
  .app_container {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .app_container {
    width: 75%;
  }
  .card {
    width: 250px;
  }
  .flex-container {
    justify-content: flex-start;
    max-width: 80%;
  }
}

/* DRAWER */

.drawer {
  transition: transform 0.5s ease-in-out;
}
.closeDrawer {
  transform: translateX(-100%);
}
.openDrawer {
  transform: translateX(0);
}
.drawer_item {
  color: white;
  text-decoration: none;
  padding: 2% 0;
  border-bottom: 1px solid rgb(234, 225, 225);
  width: 100%;
  text-align: center;
}
.drawer_item:hover {
  color: aqua;
  border-bottom: 1px solid aqua;
}

/* SIDEBAR IN THE PRODUCT PAGES */

.sidebar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: red;
  z-index: 50;
}

/* HOME PAGE STYLES */
.header_img {
  /* { objectFit: "cover", maxHeight: "45%", marginTop: "64px" } */
  margin-top: 64px;
  max-height: 40%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.banner-container {
  position: relative;
  margin-top: 64px;
  height: 40%;
  width: 100%;
  max-height: 40%;
}
.banner-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  left: 0;
}
.banner-text {
  color: white;
  text-align: center;
  font-size: xx-large;
}
.banner-container-left {
  width: 50%;
}
